body {
  background-color: #113950;
  font-family: 'Teko', sans-serif;
}

.game__info {
  text-align: center;
  margin: 0;
  color: #64b4e2;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
}

.game__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game__middle-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game__list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.game__btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  background-color: #1d4e6b;
  cursor: pointer;
}

.game__clear {
  padding: 5px;
  width: 48%;
  border: 2px solid #35759b;
  border-radius: 10px;
  background-color: transparent;
  color: #35759b;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.game__clear:hover {
  background-color: #35759b;
  color: #113950;
}

.game__x, .game__o {
  position: relative;
}

.game__x::after, .game__o::after {
  content: '';
  position: absolute;
}

.game__x::before, .game__o::before {
  content: '';
  position: absolute;
}

.game__x {
  background-color: #f06262;
}

.game__x::after, .game__x::before {
  border-radius: 50px;
  width: 70%;
  height: 20%;
  background-color: #113950;
}

.game__x::after {
  -webkit-transform: rotate(-45deg) translate(-30%, -150%);
          transform: rotate(-45deg) translate(-30%, -150%);
}

.game__x::before {
  -webkit-transform: rotate(45deg) translate(-40%, 100%);
          transform: rotate(45deg) translate(-40%, 100%);
}

.game__o {
  background-color: #62f0cc;
}

.game__o::after, .game__o::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.game__o::after {
  width: 70%;
  height: 70%;
  background-color: #113950;
}

.game__o::before {
  width: 35%;
  height: 35%;
  background-color: #62f0cc;
  z-index: 3;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__status {
  color: #5daad6;
  margin: 0;
  font-weight: 300;
  font-size: 50px;
}

.settings__player {
  max-width: 200px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: #35759b;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.settings__player::-webkit-input-placeholder {
  color: #35759b;
  font-weight: 600;
}

.settings__player:-ms-input-placeholder {
  color: #35759b;
  font-weight: 600;
}

.settings__player::-ms-input-placeholder {
  color: #35759b;
  font-weight: 600;
}

.settings__player::placeholder {
  color: #35759b;
  font-weight: 600;
}

.settings__value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__value {
  visibility: hidden;
  position: absolute;
}

.settings__value:checked + .settings__style--o {
  background-color: #62f0cc;
}

.settings__value:checked + .settings__style--o::before {
  background-color: #62f0cc;
}

.settings__value:checked + .settings__style--x {
  background-color: #f06262;
}

.settings__label {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #1d4e6b;
  cursor: pointer;
  margin: 5px;
}

.settings__style--x, .settings__style--o {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.settings__style--x::after, .settings__style--x::before, .settings__style--o::after, .settings__style--o::before {
  content: '';
  position: absolute;
  background-color: #113950;
  top: 50%;
  left: 50%;
}

.settings__style--o::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

.settings__style--o::before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 35%;
  height: 35%;
  background-color: #1d4e6b;
  z-index: 3;
}

.settings__style--x::after {
  -webkit-transform: rotate(-45deg) translate(-30%, -135%);
          transform: rotate(-45deg) translate(-30%, -135%);
  border-radius: 50px;
  width: 70%;
  height: 20%;
}

.settings__style--x::before {
  -webkit-transform: rotate(45deg) translate(-40%, 100%);
          transform: rotate(45deg) translate(-40%, 100%);
  border-radius: 50px;
  width: 70%;
  height: 20%;
}
/*# sourceMappingURL=style.css.map */