ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
li {
  width: 100px;
  height: 100px;
}

.game__btn {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.reset {
  width: auto;
  height: auto;
}
